body {
    height: 80vh;
}

#title {
    margin: 50px 0px;
    text-align: center;
}

.line {
    margin-top: 40px;
    display: flex;
}

.main-chat {
    display: flex;
    overflow-y: scroll;
    width: 90%;
    height: 100%;
    position: relative;
}

.chatbox {
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px;
    max-width: 200px;
    background: #eee;
    position: absolute;
    padding: 5px;
}

.chatbox-left {
    left: 10px;
}

.chatbox-right {
    right: 10px;
    margin-left: auto;
}

.text-input {
    position: absolute;
    bottom: 20px;
}

.text-submit {
    position: absolute;
    bottom: 20px;
    left: 160px;
}