body {
    height: 80vh;
}

#title {
    margin: 50px 0px;
    text-align: center;
}

.line {
    margin-top: 10px;
    display: flex;
}

.main-chat {
    overflow-y: scroll;
    width: 90%;
    height: 90%;
}

.chatbox {
    margin: 10px 0px;
    max-width: 200px;
    background: #eee;
    padding: 5px;
}

.chatbox-left {
    left: 10px;
    margin-left: 20px;
}

.chatbox-right {
    right: 10px;
    margin-left: auto;
}

.submit-form {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.text-input {
    width: 300px;
    height: 30px;
}