#title {
    margin: 50px 0px;
    text-align: center;
}

.line {
    margin-top: 20px;
    display: flex;
}

.main-chat {
    width: 90%;
    height: 80%;
    position: relative;
}

.chatbox {
    width: 100px;
    height: 20px;
    background-color: bisque;
    position: absolute;
    padding: 5px;
}

.chatbox-left {
    left: 10px;
}

.chatbox-right {
    right: 10px;
    margin-left: auto;
}

.text-input {
    position: absolute;
    bottom: 20px;
}

.text-submit {
    position: absolute;
    bottom: 20px;
    left: 160px;
}